<!DOCTYPE html>
<html>
    <head>
		<!-- website title -->
        <title>YeSQL Article Search</title>
		<!-- for better cellphone view -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- style sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" type="text/css">
        {% block style %} {% endblock %}
    </head>

    <body>
    	<!-- top navigation bar -->
        <div class="topnav">
        	<div>
                <a class="items" href="{{ url_for('home') }}">Home</a> 	
                <a class="items" href="{{ url_for('wiki') }}">Wiki</a>
            </div>
            <div class="topnav-right">
            {% if user %}
            <a class="items" href="{{ url_for('profile') }}">{{user.username}}</a>
            {% else %}
            	<a class="items" href="{{ url_for('login') }}">◎ login</a>
            {% endif %}
            </div>
        </div>        
        {% block content %}
        
        {% endblock %}
    </body>

</html>

