{% extends 'base.html' %}

{% block content %}

<center> 
	 <div class="heading">
	 	<div>
			<h1>Basic Search</h1>
        	<p>Exact Match  |  Search for article titles with keywords</p>
        </div>
        <div>
        	<form action="searchResult.html">
				<!-- input box -->
            	<input class="typing" type="text" name="KeyWord1" placeholder="Type in key words..." style="width: 50%;height:30px;font-size:12pt;" >
            	<!-- search button -->
            	<input class="search_button" type="submit" value="Search!">
        	</form>
    	</div>
	 </div>
</center>

{% endblock %}

