<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head><title>Article Database</title></head>

<body>

<style>
/* styling for buttons */
button {
  background-color: #e7e7e7; /* Green */
  border: none;
  color: black;
  padding: 3px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* styling for article table */
table, th, td {
  border: 1px solid black;
}
</style>



<!-- Show all existing artiles (id,name) -->
<tbody>
	<table>
  		<tr>
    	<td>Id</td>
    	<td>Article Name</td>
    	<td>Delete Article</td>
    	<td>Update Article Information</td>
  		</tr>
	
  		{% for x in ar_dic %}
    	<tr>
      	<td>{{x}}</td>
      	<td>{{ar_dic[x]}}</td>
      	<td> <!-- replace here --> <button class = "delete_button" onclick = "alert('the article has been deleted from the database')"> Delete </button> </td>
		<td> <form action="update.html"> 
				<button class = "update_button"> Update </button>
			</form> </td>
    	</tr>
  		{% endfor %}
  </table>
</tbody>

<!-- Insert new articles-->
<div class = "insert">
  <br>
 	 <form action="insert.html">
 		 <br>
 		 <!-- replace here -->
 		<input type="text" name="insert_name" placeholder="Type in complete article name, e.g. How to sleep 25 hours a day" style="width: 50%;height:30px;font-size:12pt;"">
		 <!-- replace here --> <button class = "update_button" onclick = "alert('the article has been added to the database')"> Insert an Article </button>	
	</form>
	
</div>


</head>
<body>

</body>
</html>