{% extends 'base.html' %}

{% block content %}

<body>
<div class="login_heading">
	<h1> Article Details </h1>
</div>

<div class="row">
  <div class="col big">
    <!-- Title of the article -->
  	<h1 class="ggtitle" id="aname">{{ article.title}} 
  		{% if like %}
  		<form action="unlike" method="get">
            <button class="ggbutton" type="submit" name="aid" value="{{article.id}}">Unlike</button>
  		</form>
  		{% else %}
  		<form method="get" action="like">
            <button class="ggbutton" type="submit" name="aid" value="{{article.id}}">Like this article</button>
  		</form>
  		{% endif %}
  	</h1>
  	
  	<!-- Authors of the article -->
  	<p class="ggtext" id="aauthor">Authors | {{ article.authors}}</p>
  	
  	<!-- Subject / Fields of the article -->
    <p class="ggtext" id="afield">Fields | {% for field in article.fields %}{{ field }} {%endfor%}</p>
  	
  	<div class="abstract"> <!-- Abstract -->
        <p class="ggtext" id="aabstract">Abstract | <br>  {{ article.abstract }}</p>
  	</div>
</div>
  
<div class="col big">
    <h3 class="ggheading">Links to the Article</h3>
    {% for link in article.entries %}
    <p class="ggtext" id="link"><a href="{{ link[0] }}" target="_blank">{{ link[0] }}</a>        |     {{ link[1] }}</p> <!-- change to links -->
  	{% endfor %}
</div>
  
<div class="col big"> <!-- Related Articles -->
    <h3 class="ggtitle">Similar Articles</h3>
  	{% for a in similar %}
    <p class="ggtext" id="asimilar"><a class="article_entry similar_entry" value="{{ a['article_id'] }}" onclick = "see_detail({{ a['article_id'] }})" >{{ a['title'] }} </a></p>
  	{% endfor %}
<div>

<script type="text/javascript">
    function see_detail(aid) {
        if (aid !== "undefined") {
            console.log(aid)
            window.location.href='/article/' + aid;
        } else {
            alert(' What happened?');
        }
    }
</script>
{% endblock %}
