{% extends 'base.html' %}

{% block content %}

<body>
<div class="heading">
	<h> Article Details </h>
</div>

<div class="row">
  <div class="col big">
    <!-- Title of the article -->
  	<h1 class="ggtitle" id="aname">{{ article.title}} <button class="ggbutton" >Like this article</button></h1>
  	<!-- Authors of the article -->
  	<p class="ggtext" id="aauthor">{{ article.authors}}</p>
  	<!-- Journal Name -->
  	{% for a in article.similar %}
  		<p class="ggtext" id="asimilar">{{ a }}</p>
  	{% endfor %}
  	<!-- Subject / Fields of the article -->
  	<p class="ggtext" id="afield">{{ article.fields }}</p>
  	
  	
  	<div class="abstract"> <!-- Abstract -->
  		<p class="ggtext" id="aabstract">{{ article.abstract }}</p>
  	</div>
  	<div class="similar"> <!-- Related Articles -->
  		{% for a in article.similar %}
  			<p class="ggtext" id="asimilar">{{ a }}</p>
  		{% endfor %}
  	<div>

  </div>
  
  <div class="col small">
    <h3 class="ggheading">Links to the Article</h3>
    {% for link in article.entries %}
  		<p class="ggtext" id="link">{{ link }}</p> <!-- change to links -->
  	{% endfor %}
</div>
  

{% endblock %}
<style>

</style>