<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head><title>Inserting Articles</title></head>

<body>

<style>
/* styling for buttons */
button {
  background-color: #e7e7e7; /* Green */
  border: none;
  color: black;
  padding: 3px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* styling for article table */
table, th, td {
  border: 1px solid black;
}
</style>

<center>
<h> Just pretend you are inserting here </h>
<p> You will return to the demo page later </p>
</center>

</head>
<body>

</body>
</html>