{% extends 'base.html' %}

{% block style %}
<style>
/* styling for buttons */
button {
  background-color: #e7e7e7; /* Green */
  border: none;
  color: black;
  padding: 3px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* styling for article table */
table, th, td {
  border: 1px solid black;
}
</style>

{% endblock %}


{% block content %}
<!-- Show all existing artiles (id,name) -->
<tbody>
	<table>
  		<tr>
    	<td>Id</td>
    	<td>Article Name</td>
    	<td>Delete Article</td>
    	<td>Update Article Information</td>
  		</tr>
	
        {% for id_name in data %}
    	<tr>
            <td id="jid" >{{ id_name['journal_id'] }}</td>
            <td id="jname" >{{ id_name['journal_name' ]}}</td>
            <td> <!-- replace here --> <button class = "delete_button" value="{{ id_name['journal_id'] }}" onclick = "delete_journal(this.value)" > Delete </button> </td>
<!-- alert('the article has been deleted from the database'); -->
		<td>
				<button class = "update_button" value="{{ id_name['journal_id'] }}" onclick="to_update(this.value)"> Update </button>
        </td>
    	</tr>

{% endfor %}

    <script type="text/javascript">
        function delete_journal(jid) {
            if (jid != "undefined") {
                window.location.href='/delete?id=' + jid;
            } else {
                alert(' What happened?');
            }
        }
        function to_update(jid) {
            if (jid != "undefined") {
                window.location.href='/update?id=' + jid;
            } else {
                alert(' What happened?');
            }
        }

    </script>

  </table>
</tbody>

<!-- Insert new articles-->
<div class = "insert">
  <br>
 	 <form action="insert.html">
 		 <br>
 		 <!-- replace here -->
 		<input type="text" name="insert_name" placeholder="Type in complete article name, e.g. How to sleep 25 hours a day" style="width: 50%;height:30px;font-size:12pt;"">
		 <!-- replace here --> <button class = "update_button" onclick = "alert('the article has been added to the database')"> Insert an Article </button>	
	</form>
	
</div>

{% endblock %}
