{% extends 'base.html' %}

{% block content %}

<body>

<div class="heading">
	<h1>Hello, xxx </h1>
    <p>Personal Data  |  Custom Recommendation</p>

</div>

<div class="row">
	<div class="column">
		<div class="leftcol">
		  	<h3 class="ggtitle">xxx<h3>
    	</div>
  	</div>
  	<div class="column">
		<div class="rightcol">
		  	<h3 class="ggtitle">My Favorite<h3>
		  	<p class="ggtext">article 1...</p>
		  	<p class="ggtext">article 2...</p>
		  	<p class="ggtext">article 3...</p>
    	</div>
  	</div>
</div>

<div class="row">
	<div class="column">
		<div class="freecol">
		  	<h3 class="ggtitle">Recommended for You<h3>
		  	<p class="ggtext">article 1...</p>
		  	<p class="ggtext">article 2...</p>
		  	<p class="ggtext">article 3...</p>
    	</div>
  	</div>
</div>
		

{% endblock %}
