{% extends 'base.html' %}

{% block content %}

<center> 
    {% if articles %}
    <div class="login_heading">
    {% else %}
	 <div class="heading">
    {% endif %}
	 	<h1> YeSQL Article Search </h1>		
        <div>
        	<form action="search" >
				<!-- input box -->
            	<input class="typing" type="text" name="keyword" placeholder="Type in key words..." style="width: 50%;height:30px;font-size:12pt;" required>
            	<!-- search button -->
            	<input class="search_button" type="submit" value="Search!">
            	<br>
            	<label><input class="ggtext" value="basic" type="radio" name="type" checked/> Basic Search </label>
  				<label><input class="ggtext" value="advanced" type="radio" name="type" /> Advanced Search</label>
  				<label><input class="ggtext" value="intelligent" type="radio" name="type"/> Intelligent Search</label>
        	</form>
    	</div>
	
	 </div>
</center>


{% if articles %} <!-- showing search results -->
<table class="tablegg" id="ggtable">
	<tr>
    	<th>Search Results</th>
  	</tr>
	{% for article in articles %}
    	<tr>
            <td id="atitle" >
            	<a class="article_entry" value="{{ article['article_id'] }}" onclick = "see_detail({{ article['article_id'] }})" >{{ article.title }} </a>
            </td>
        </tr>
	{% endfor %} 	
</table>

{% endif %} <!-- end of showing search results -->

<script type="text/javascript">
    function see_detail(aid) {
        if (aid !== "undefined") {
            console.log(aid)
            window.location.href='/article/' + aid;
        } else {
            alert(' What happened?');
        }
    }
</script>

{% endblock %}

