{% extends 'base.html' %}

{% block content %}

<center> 
	 <div class="heading">
	 	<h> YeSQL Article Search </h>		
        <div>
        	<form action="search" >
				<!-- input box -->
            	<input class="typing" type="text" name="keyword" placeholder="Type in key words..." style="width: 50%;height:30px;font-size:12pt;" required>
            	<!-- search button -->
            	<input class="search_button" type="submit" value="Search!">
            	<br>
            	<label><input class="ggtext" value="basic" type="radio" name="type" checked/> Basic Search </label>
  				<label><input class="ggtext" value="advance" type="radio" name="type" /> Advance Search</label>
  				<label><input class="ggtext" value="intelligent" type="radio" name="type"/> Intelligent Search</label>
        	</form>
    	</div>
	
	 </div>
</center>


{% if articles %} <!-- showing search results -->
<table class="tablegg" id="ggtable">
	<tr>
    	<th>Article Name</th>
  	</tr>
	{% for article in articles %}
    	<tr>
            <td id="atitle" >
            	<a value="{{ article['id'] }}" onclick = "see_detail(this.value)" >{{ article.title }} </a>
            </td>
        </tr>
	{% endfor %} 	
</table>

{% endif %} <!-- end of showing search results -->

<script type="text/javascript">
    function see_detail(aid) {
        if (article_id != "undefined") {
            window.location.href='/article/' + aid;
        } else {
            alert(' What happened?');
        }
    }
</script>

{% endblock %}

