<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
    <center>
        <div style="background-color:lightblue" width = "700">

            <br><br><br>

            <form action="searchResult.html">

                <textarea type="text" name="KeyWord1" placeholder="Type in query to create new journals..." style="width: 50%;font-size:12pt;" ></textarea>


                <!-- Key Word 2: <input type="text" name="KeyWord2" value="YeSQL"><br> -->

                <input type="submit" value="Create!">
                <textarea type="text" name="KeyWord1" placeholder="Type in query to read journals..." style="width: 50%;font-size:12pt;" ></textarea>
                <input type="submit" value="Read!">
                <textarea type="text" name="KeyWord1" placeholder="Type in query to update journals..." style="width: 50%;font-size:12pt;" ></textarea>
                <input type="submit" value="Update!">
                <textarea type="text" name="KeyWord1" placeholder="Type in query to delete journals..." style="width: 50%;font-size:12pt;" ></textarea>
                <input type="submit" value="Delete!">

                <br><br>

                <input type="checkbox" name="peerReview" value="Peer Reviewed"> Peer Reviewed
                <input type="checkbox" name="orderDate" value="orderDate"> Ordered by Publication Dates
                <input type="checkbox" name="orderA" value="orderA"> Ordered by Alphabets<br>

            </form>

            <br><br>

        </div>
    </center>
{% endblock %}