{% extends 'base.html' %}

{% block style %}
<style>
/* styling for buttons */
button {
  background-color: #e7e7e7; /* Green */
  border: none;
  color: black;
  padding: 3px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* styling for article table */
table, th, td {
  border: 1px solid black;
}
</style>
{% endblock %}

{% block content %}
<h>Update an Article</h>
<p> You may update the name of the chosen article. </p>
 <form action="/updata">
 		 <br>
 		<input type="text" name="update_name" placeholder="New journal name" style="width: 50%;height:30px;font-size:12pt;">
		<button class = "update_button"> Update Journal Name</button>
	</form>

{% endblock %}
