{% extends 'base.html' %}

{% block content %}
<!-- home page / introduction -->
<center> 
	<div class="login_heading">
		<h1>YeSQL Article Search Engine</h1>
        <p>Find the Articles You Want</p>
    </div>
</center>

<center>
<br><br><br><br><br>
<h2 class="ggtitle">USER GUIDE</h2>
</center>

<div class="roo">
  <div class="coo">
    <div class="caa">
      <center><h3 class="ggtitle">Basic Search</h3> </center>
      <p class="ggtext">Exact Match | Search for article titles with keywords</p>
    </div>
  </div>

  <div class="coo">
    <div class="caa">
    	<center><h3 class="ggtitle">Advance Search</h3></center>
      <p class="ggtext">Exact Match | Search for article titles and abstract with keywords</p>
    </div>
  </div>
  
  <div class="coo">
    <div class="caa">
      <center><h3 class="ggtitle">Intellegent Search</h3></center>
      <p class="ggtext">Semantic Match | Not exact but powerful</p>
    </div>
  </div>
  
  <div class="coo">
    <div class="caa">
      <center><h3 class="ggtitle"> User Profile</h3></center>
      <p class="ggtext">User profile lists your liked articles and recommend articles according to your search history.</p>
    </div>
  </div>
</div>

<br><br><br><br><br><br>

<center>
    <div class="foot">
		<p class="ggtitle" style="color:#666666"> by YeSQL team</p>
		<p class="ggtitle"> Zhiqing Sha | Chenhao Zhang | Jingde Chen | Ziyang
        Ye </p>
	</div>
</center>
{% endblock %}

